language: php
php:
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'

services:
  - mysql

before_script:
  - composer update
  - export PHPUNIT_DB_USERNAME=root; export PHPUNIT_DB_PASSWORD=""; export PHPUNIT_DB_HOSTNAME=localhost